<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
		default-autowire="byName">

	<bean id="ta" class="com.mb.autowired.Ta" scope="singleton">
	</bean>
	<bean id="i1" class="com.mb.autowired.I1" scope="singleton">
	</bean>
	<bean id="i2" class="com.mb.autowired.I2" scope="singleton">
	</bean>

	<bean id="taBeanFactoryPostProcessor" class="com.mb.autowired.TaBeanFactoryPostprocessor">
	</bean>

</beans>
